@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222 47% 11%;

    --card: 0 0% 100%;
    --card-foreground: 222 47% 11%;

    --popover: 0 0% 100%;
    --popover-foreground: 222 47% 11%;

    --primary: 220 17% 27%;
    --primary-foreground: 0 0% 100%;

    --secondary: 220 14% 96%;
    --secondary-foreground: 222 47% 11%;

    --muted: 220 14% 98%;
    --muted-foreground: 220 9% 46%;

    --accent: 220 9% 46%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 76% 36%;
    --success-foreground: 0 0% 100%;

    --warning: 38 92% 50%;
    --warning-foreground: 0 0% 100%;

    --info: 221 83% 53%;
    --info-foreground: 0 0% 100%;

    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 220 17% 27%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222 47% 11%;
    --foreground: 0 0% 100%;

    --card: 222 47% 11%;
    --card-foreground: 0 0% 100%;

    --popover: 222 47% 11%;
    --popover-foreground: 0 0% 100%;

    --primary: 220 9% 46%;
    --primary-foreground: 0 0% 100%;

    --secondary: 215 28% 17%;
    --secondary-foreground: 0 0% 100%;

    --muted: 215 28% 17%;
    --muted-foreground: 220 9% 46%;

    --accent: 215 28% 17%;
    --accent-foreground: 0 0% 100%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 100%;

    --success: 142 71% 45%;
    --success-foreground: 0 0% 100%;

    --warning: 47 96% 89%;
    --warning-foreground: 38 92% 50%;

    --info: 221 83% 53%;
    --info-foreground: 0 0% 100%;

    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 220 9% 46%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
